<ion-header [translucent]="true">
  <ion-toolbar color="purple">
    <ion-title color="light" style="text-align: center;">
      ข้อมูลเรียน ปวช.2/3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-label class="ion-padding" style="text-align: center;">
    <h1><b>กรอกข้อมมูลนักเรียน ปวช.2/3</b></h1>
  </ion-label>

  

  <ion-item class="menu-header">
    <ion-input placeholder="กรอกข้อมูล" type="text" [(ngModel)]="member.id_stu">รหัสนักเรียน</ion-input>
  </ion-item>
  <ion-item class="menu">
    <ion-input placeholder="กรอกข้อมูล" type="text" [(ngModel)]="member.name">ชื่อ-นามสกุล</ion-input>
  </ion-item>
  <ion-item class="menu">
    <ion-input placeholder="กรอกข้อมูล" type="text" [(ngModel)]="member.nname">กรอกชื่อเล่น</ion-input>
  </ion-item>
  <ion-item class="menu">
    <ion-input placeholder="กรอกข้อมูล" type="text" [(ngModel)]="member.age">กรอกอายุ</ion-input>
  </ion-item>
  <ion-item class="menu">
    <ion-input placeholder="กรอกข้อมูล" type="text" [(ngModel)]="member.phone">กรอกเบอร์โทรศัพท์</ion-input>
  </ion-item>
  <ion-item class="menu">
    <ion-input placeholder="กรอกข้อมูล" type="text" [(ngModel)]="member.address">กรอกที่อยู่</ion-input>
  </ion-item>
  

  <ion-list class="menu">
    <ion-label class="ion-padding" [(ngModel)]="member.status">สถานะภาพ</ion-label>
    <ion-item>
      <ion-select aria-label="fruit" interface="popover" placeholder="สถานะภาพ">
        <ion-select-option value="โสด">โสด</ion-select-option>
        <ion-select-option value="สมรสแล้ว">สมรสแล้ว</ion-select-option>
        <ion-select-option value="อย่าร้าง">หย่าร้าง</ion-select-option>
        <ion-select-option value="มีแฟนแล้ว">มีแฟนแล้ว</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>
    <ion-input type="hidden" [(ngModel)]="member.id"></ion-input>


  <div class="menu-button">
    <ion-button color="warning" (click)="gohome()">กลับไปหน้าแรก</ion-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-button (click)="editmember()">บันทึกข้อมูล</ion-button>
  </div>


</ion-content>
